# Ambiente Virtual
venv/
env/
venv_servidor/
.vscode/

# Variáveis de Ambiente (Senhas e Configurações)
.env

# Arquivos temporários do Python e do Flask
__pycache__/
*.pyc
instance/

# Documentos gerados
temp_docs/
*.docx
*.pdf

# Backup banco de dados
backup.sql

# Anexos de tarefas
static/uploads/
*.png
*.jpg
*.jpeg
*.pdf
*.docx

# Programa opcional para caso o WebTool esteja hospedado em um centro de dados
robo_pje.py

# Modelo para geração de petição
modelos/modelo_peticao.docx